/* This is an example CSS file. If you include it in your portfolio, it'll provide some clean and basic styling */
/* for your page. Feel free to experiment with the values, or copy them into a new file and use that instead. */

/* These are comments in CSS. Comments don't do anything except explain your working to make code easier to understand. */


body { /* We can style any HTML element by using its name - here we're styling the body */
  /* We want text that uses a clean sans-serif font, is usually 16px big and close to black */
 
  /* we want a white page, that's centered and not too wide */
  background-color: #f1f1ee;
 
}


/* Headings */
 h2, h4, h5, h6 {
  color: #0c7222;
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
}

/* We want the headings to be a little bigger than the paragraph text */
.big { /* This is the class we created in the HTML file, you can use it to style any element */
  font-size: 2.5em;
}

h2 {
  font-size: 1.75em;
}

.small {
  font-size: 1.25em;
}

/* Paragraph */
p {
  margin-bottom: 1em;
  font-weight: 300;
}

section {
  margin-bottom: 2.5em;  /* We want a little more space between sections */
}

/* Links */
/* We want the links to be a little more visible  and a different color */
a {
  color: #065f46;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
  
/* Images */
img {
  max-width: 100%;
  height: auto;
}

h1, h3 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Catamaran";
  color: #151415;
  margin: 0;
}

h1 {
  font-size: 4rem;
  padding-top: 4vh;
  height: 10vh;
}
h3 {
  font-size: 1.8rem;
  font-weight: 300;
}

.chart {
  margin: 10px;
  padding: 10px;
  padding-top: 3px;
  height: 360px;
  width: 340px;
  align-items: center;
  justify-content: center;
}

.chart2 {
  margin: 10px;
  padding: 10px;
  padding-top: 3px;
  height: fit-content;
  width: fit-content;
  align-items: center;
  justify-content: center;
}









.vega-embed {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
}

.div {
  display: block;
  unicode-bidi: isolate;
  flex: 1;
}

/* allows scrolling on oversize charts to fit within card */



.chart#Location21 {
  overflow: scroll;
}
.chart#Location8{
  overflow-x: scroll;
  overflow-y: hidden;
}
.chart#Location7{
  overflow-x: scroll;
  overflow-y: hidden;
}





.container {
  display: flex !important;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 220px;
  overflow: auto;
  margin-bottom: 10vh;
}


.card {
  background: white;
  width: 370px;
  min-height: 300px;
  border-radius: 10px;
  margin: 30px;
  padding: 5px;
  border: #76939e solid 6px;
  display: flex;
  flex-direction: column;
}

.card2 {
  background: white;
  width: 800px;
  min-height: 300px;
  border-radius: 10px;
  margin: 30px;
  padding: 5px;
  border: #76939e solid 6px;
  display: flex;
  flex-direction: column;
}



.card h5 {
  padding-top: 10px;
  padding-left: 5px;
  font-family: sans-serif;
  margin: 0;
}

.card2 h5 {
  padding-top: 10px;
  padding-left: 5px;
  font-family: sans-serif;
  margin: 0;
}




.card p {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0;
}

.card2 p {
  padding-top: 5px;
  padding-left: 5px;
  padding-bottom: 5px;
  font-family: sans-serif;
  font-size: 10pt;
  margin: 0;
}




.card .category .tag {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  padding: 5px;
  
  
}

.card2 .category .tag {
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  padding: 5px;
  
  
}




.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #f1f1ee;
  color: black;
}

.page-title {
  font-size: 1.9rem;
  margin-left: 1rem;
  margin: 0.5rem;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: black;
  padding: 1rem;
  font-size: 1.3rem;
}

.navbar-links li:hover {
  background-color: #555;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (max-width: 500px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}
